W8/Viiar.AtmFinder.W8/Service References/ClassifiersServices/ClassifiersService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tech-fellow-consulting.net/atmfinder/onlineservices" elementFormDefault="qualified" targetNamespace="http://tech-fellow-consulting.net/atmfinder/onlineservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/ClassifiersService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedBanks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedBanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSupportedBanksResult" nillable="true" type="q1:ArrayOfKeyValueOfstringArrayOfBankAXblg89F" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>