W8/Viiar.AtmFinder.W8/Service References/ClassifiersServices/ClassifiersService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tech-fellow-consulting.net/atmfinder/onlineservices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassifiersService" targetNamespace="http://tech-fellow-consulting.net/atmfinder/onlineservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://127.0.0.1:81/ClassifiersService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tech-fellow-consulting.net/atmfinder/onlineservices/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:81/ClassifiersService.svc?xsd=xsd0" namespace="http://tech-fellow-consulting.net/atmfinder/onlineservices" />
      <xsd:import schemaLocation="http://127.0.0.1:81/ClassifiersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:81/ClassifiersService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://127.0.0.1:81/ClassifiersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Viiar.AtmFinder.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassifiersService_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IClassifiersService_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IClassifiersService_GetSupportedBanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedBanks" />
  </wsdl:message>
  <wsdl:message name="IClassifiersService_GetSupportedBanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedBanksResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassifiersService">
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tech-fellow-consulting.net/atmfinder/onlineservices/IClassifiersService/Init" message="tns:IClassifiersService_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tech-fellow-consulting.net/atmfinder/onlineservices/IClassifiersService/InitResponse" message="tns:IClassifiersService_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedBanks">
      <wsdl:input wsaw:Action="http://tech-fellow-consulting.net/atmfinder/onlineservices/IClassifiersService/GetSupportedBanks" message="tns:IClassifiersService_GetSupportedBanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tech-fellow-consulting.net/atmfinder/onlineservices/IClassifiersService/GetSupportedBanksResponse" message="tns:IClassifiersService_GetSupportedBanks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ClassifiersService">
    <wsdl:port name="BasicHttpBinding_IClassifiersService" binding="i0:BasicHttpBinding_IClassifiersService">
      <soap:address location="http://127.0.0.1:81/ClassifiersService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>