W8/Viiar.AtmFinder.W8/Service References/ClassifiersServices/ClassifiersService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/ClassifiersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Viiar.AtmFinder.Contracts" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfBankAXblg89F">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfBankAXblg89F">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Viiar.AtmFinder.Contracts" name="Value" nillable="true" type="q1:ArrayOfBank" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfBankAXblg89F" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfBankAXblg89F" />
</xs:schema>