W8/Viiar.AtmFinder.W8/Service References/ClassifiersServices/ClassifiersService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Viiar.AtmFinder.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Viiar.AtmFinder.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bank" nillable="true" type="tns:Bank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBank" nillable="true" type="tns:ArrayOfBank" />
  <xs:complexType name="Bank">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bank" nillable="true" type="tns:Bank" />
</xs:schema>